.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.charCard{

}
.cardImg{
  height: 180px;
  width: auto;
}


body {
  background: url(https://images.ctfassets.net/swt2dsco9mfe/5DL6YXggvpAmMSSRpyrtzR/56d532778e4c3547ff539c7e544fb16f/158867_1920x1342.jpg?q=70) no-repeat center right fixed;
  background-size: cover;
}

.col {
  background-color: antiquewhite;
  border-width: 1px;
  border-color: black;
}